@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#dropdown-menu-g .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-g .nav .link,
#dropdown-menu-g .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-g .navbar,
#dropdown-menu-g .dropdown-menu {
  background: #333333;
}
#dropdown-menu-g .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-g .dropdown-menu a:hover,
#dropdown-menu-g .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-g .navbar-toggler {
  color: #ffffff;
}

#content5-j .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-j .mbr-article {
  color: #fff;
}
#content5-j .mbr-article P {
  text-align: center;
}
#custom-html-960 P {
  color: #ffffff;
}
#custom-html-960 undefined {
  color: #ffffff;
}
#msg-box3-9 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-9 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-a .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-a .mbr-header .mbr-header__subtext {
  text-align: center;
}
#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1em;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #333333;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-e .navbar-toggler {
  color: #ffffff;
}
